
* {
    box-sizing: border-box;
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	font-family: "TT Firs Neue", sans-serif;
	background-color: #EEE7E1;
}
body::-webkit-scrollbar {
	width: 3px;
	background-color: #f9f9fd;
}
  
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #18aaaa;
}
  
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #f9f9fd;
}
h1,
h2,
h3,
h4{
	padding: 0;
	margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 26px;
}
ul,
li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
